# Langfuse
LANGFUSE_SECRET_KEY="sk-lf-0ea999e4-511f-4619-9f95-9a766ac9d6b8"
LANGFUSE_PUBLIC_KEY="pk-lf-d7d85cd7-9378-430c-ad23-49ad588bfc66"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# Ollama (локальный сервис)
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen3:8b
